header {
    background: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all .5s ease;
    position: relative;
    z-index: 999999;
    position: absolute;
    top: 0;
    width: 100%;
}

header .navbar {
    padding: 0;
    align-items: center;
}

header .navbar-brand img {
    width: 250px;
}

button.navbar-toggle {
    display: none;
}

.error{
    color: red !important;
    font-size:14px;
}

.navbar-toggle {
    background: 0 0;
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}

.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 12%;
}

.navbar-toggle span.icon-bar {
    transition: all .15s;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background: #349f1a;
}



header .navbar .navbar-nav {
    padding: 0;
    margin-right: 0 !important;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: flex-end;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
    color: #479041;
    border-bottom: solid;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
    margin: 0 10px;
    border-bottom: solid transparent;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
    color: #479041;
    border-bottom: solid;
}

.navbar-nav .nav-item {
    padding-left: 5px;
    padding-right: 5px;
}

.nav_dropdown {
    background-color: #fff;
    left: 0;
    max-height: 60vh;
    position: fixed;
    right: 0;
    top: 96px;
    transition: transform .5s;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    margin: auto;
    padding: 10px 20px 0;
    z-index: 99;
}

.nav_dropdown.nav_dropdown--isActive {
    opacity: 1;
    animation: smoothScrollRev 1s forwards;
    visibility: visible;
    z-index: 100;
    box-shadow: 0 2px 5px rgb(29 67 84 / 20%);
}

header .nav_dropdown .container {
    display: block;
}

.iconList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

header .menu_browse_box {
    margin-top: 10px;
    margin-bottom: 10px;
}

header .menu_browse_box a {
    padding: 20px;
    font-size: 15px;
    color: #434343;
    display: block;
}

header .navbar a {
    color: #454545;
    margin-right: 0;
}

a {
    color: #479041;
    font-size: 16px;
    text-decoration: none;
    background-color: transparent;
    font-weight: 300;
}

header .menu_browse_box a {
    padding: 20px;
    font-size: 15px;
    color: #434343;
    display: block;
}

header .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
    padding-top: 20px !important;
}

.menu_green_cta_trans,
.menu_green_cta,
.menu_blue_cta {
    border-radius: 30px;
    margin: 0 !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    text-align: center;
    color: #fff !important;
    border: unset !important;
}

.menu_green_cta_trans {
    border: solid 1px #349f1a !important;
    color: #349f1a !important;
}

header .container {
    position: relative;
}


header .navbar-brand {
    padding: 10px 1px 10px 30px;
}

header .navbar .navbar-nav .nav_item_right {
    margin-left: 15px;
}


.menu_green_cta_box {
    background: #e1ffd8;
    border-radius: 8px;
}

.menu_green_cta_box .nav-link {
    background: #98ff7c;
    padding: 4px 10px 2px !important;
    margin: 7px 10px !important;
    display: block;
    line-height: 1.4;
    border-radius: 5px;
}

.menu_green_cta {
    background: #349f1a;
}

.wt-loginarea {
    margin: 0 !important;
    padding: 0 !important;
}

.admin_header_after_login {
    padding-left: 5% !important;
    padding-top: 10px !important;
    justify-content: normal !important;
}

/* *********************************************************************
                                    footer
************************************************************************ */


.pb-3,
.py-3 {
    padding-bottom: 1rem !important;
}



footer {
    position: relative;
    padding: 40px 0 20px;
    background: #12300b;
}

footer h4 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
}

.quick-links,
.contact-list {
    margin: 15px 0;
}

.contact-list li,
.quick-links li {
    border: none;
    padding: 10px 10px 10px 0;
}

.quick-links li a,
.contact-list li p,
.contact-list li a {
    font-size: 14px;
    font-weight: 200;
    line-height: 1.3;
}

footer .col-md-6,
footer .col-md-4,
footer .col-md-3 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline li {
    display: inline-block;
}

footer ul {
    list-style: none !important;
}

footer ul li {
    line-height: 1;
}

footer ul li a {
    color: #6d7a6a !important;
}

footer .col-md-6 a,
footer .col-md-6 p {
    margin-bottom: 0;
    font-size: 14px;
    color: #6d7a6a;
}

.quick-links li {
    list-style: none !important;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
}

.find-freelancer-banner {
    padding-bottom: 0px !important;
}




.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    justify-content: space-between;
}


.mega_menu_tabs.nav-tabs .nav-link,


.services_list_box_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.services_list_box {
    width: 25%;
    margin: 0;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
}

.services_list_box a,
.services_list_box h3 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    width: 100%;
    color: #222;
}

li {
    list-style: none !important;
    line-height: unset !important;
}



footer .row .col-md-6:last-child>ul {
    display: block;
    text-align: right;
}

.freelancer_registration_options {
    width: 33% !important;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.opcty_5 {
    opacity: .5 !important;
}

.internee_sec h2 {
    font-weight: 500;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 1.375;
    margin-top: 0;
}

.internee_sec h5 {
    margin-bottom: 5px;
    text-transform: uppercase;
    line-height: 1.375;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0;
}

.internee_sec p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.777;
}

.theme-color,
.theme_color {
    color: #349f1a !important;
}

.internee_sec {
    padding-bottom: 0;
}
.companies_banner_section {
    padding-top: 96px !important;
}

.back-end-header::before{
    position: unset !important;;

}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px !important;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}


@media screen and (min-width:991px) {
    header .nav_dropdown {
        position: absolute !important;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .mt-lg-0,
    .my-lg-0 {
        margin-top: 0 !important;
    }

}

@media (min-width: 768px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 768px;
    }
}
@media (min-width: 576px){
.container, .container-sm {
    max-width: 540px;
}
}
@media screen and (min-width: 360px) {
    .intern_reviews ul li+li {
        padding-left: 4px;

    }
}

@media screen and (max-width: 991px) {
    header .navbar .navbar-nav {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .navbar-toggle.collapsed span:nth-child(3) {
        opacity: 1;
    }

    .navbar-toggle span:nth-child(3) {
        opacity: 0;
    }

    .navbar-toggle span:nth-child(4) {
        transform: rotate(-45deg);
        transform-origin: 30% 90%;
    }

    header .navbar-nav .nav-item {
        margin-bottom: 20px;
    }

    header .navbar a {
        font-size: 14px;
        padding-left: 15px;
    }

    .navbar-toggle.collapsed span:nth-child(2),
    .navbar-toggle.collapsed span:nth-child(4) {
        transform: rotate(0);
    }

    .navbar-toggle span:nth-child(2) {
        transform: rotate(45deg);
        transform-origin: 12%;
    }

    .navbar-toggle span.icon-bar {
        transition: all .15s;
    }

    button.navbar-toggle {
        display: block;
        background: transparent !important;
    }

    .navbar-toggle .icon-bar+.icon-bar {
        margin-top: 4px;
    }

    .navbar-toggle {
        top: 30px;
        transform: unset;
    }
}

.freelancer_filters .wt-widget{
    margin: 0 0 0px !important;
    padding-top: 0% !important;
}

.freelancer_filters .wt-widgettitle{
    margin-bottom: 15px !important;
}

.filter_toogle{
    float: right;
}

.internee_filters .wt-widget{
    margin: 0 0 0px !important;
    padding: 4px !important;
}


.filters-container {
    position: static;
    margin: 0 auto;
    max-width: 92%;

}
.filters-container.fixed {
    position: fixed !important;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 100;
    padding: 24px 0;
}
.freelancer_filters .wt-formsearch {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
    flex-wrap: wrap;

}
.freelancer_filters .wt-widget {
    float: unset;
    width: auto;
    min-width: 200px;
    padding: 12px;
    position: relative;
}
.freelnacer_data_filters  .wt-widget {
    width: 250px;
}
.jobs_filters_record .wt-widget {
    width: 225px;
}

.internee_filters_record .wt-widget {
    width: 200px;
}

.internee_filters_record .wt-widgettitle {
    margin-bottom: auto;

}

.freelancer_price_filter >div {
    flex-direction: column !important;
}
.wt-formsearch fieldset .wt-checkboxholder .wt-checkbox label {
    font-size: 12px;
}
.wt-formsearch fieldset .wt-checkboxholder{
    position: absolute;
    top: 0;
    padding: 6px;
    z-index: 100;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.wt-formsearch fieldset .wt-checkboxholder {
    max-height: 200px;
}
.freelancer_filters .wt-widgettitle {
    position: relative;
}
.job_price_filter {
    position: absolute;
    width: 100%;
    padding: 6px;
    z-index: 100;
    background: #fff;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
/* registeration form */
.tb-registration button[type='submit'] {
    display: block;
    width: 100%;
    border-radius: 25px;
}
.tb-registration .password-placeholder {
    position: relative;
}
.tb-registration .password-placeholder > i {
    position: absolute;
    right: 5px;
    top: 37%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 18px 18px;
}
.tb-center {
    text-align: center;
    position: relative;
}
.tb-center::before {
    content: '';
    width: calc(50% - 20px);
    height: 1px;
    background: #999;
    position: absolute;
    left: -20px;
    top: 50%;
}
.tb-center::after {
    content: '';
    width: calc(50% - 20px);
    height: 1px;
    background: #999;
    position: absolute;
    right: -20px;
    top: 50%;
}
.google-signup-wrap {
    overflow: hidden;
    display: block;
    border-radius: 24px;
}
/* signIn customization */
.login-screen .card-header {
    background: transparent;
    border-bottom: unset;
    text-align: center;
    font-size: 26px;
    color: #000;
}
.login-screen form .form-group {
    justify-content: center;
}
.login-screen .login-btn {
    border-radius: 20px;
    width: 100%;
    font-size: 19px;
    background: #349f1a;

}
.no-ac-txt.tb-center::before,.no-ac-txt.tb-center::after {
    width: calc(50% - 150px);
}
/* categories dropdown */
.wt-verticalscrollbar-- {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 10;
    top: -64px;
}
.wt-verticalscrollbar-- select {
    border-left: unset;
    border-right: unset;
    border-top: unset;
    border-radius: 0;
}
@media screen and (max-width:1366px) {
    .filters-container {
        width: 1280px;
    }
}

@media screen and (max-width:1280px) {
    /* width: 1280px; */
    .filters-container { 
        width: 100%;
        overflow-x: scroll;
    }
   

}
@media screen and (max-width:767px) {
    .wt-usersidebar {
         display: block !important;
    }
    .filters-container.fixed {
        position: static !important;
    }
}
@media screen and (max-width:499px) {
    .footer_bottom {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .footer_bottom>div {
        width: 100%;
        text-align: center !important;
    }

    footer .row .col-md-6:last-child>ul {
        text-align: center !important;
    }
}