.stepper-container h2{
	font-weight: bold;
	text-align: center;
	font-size: 48px;
	line-height: 1.4;
	margin-bottom: 1rem;
	color: #349F1A;
}
label {
    margin-left: 10px;
}
#msform {
    position: relative;
    margin-top: 20px;
    padding: 30px 40px;
    z-index: 0;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
    text-align: left;
}
#msform label{
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #170F49;
}
#msform .form-control{  
    border: 1px solid #cbf0c0;
    border-radius: 10px;
    color: #6F6C90;
    height: 42px;
    padding: 7px 15px 7px 20px;
}
#msform .form-control:focus{
	border: 1px solid #349F1A;
    box-shadow: none;
    outline: 0;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*Next Buttons*/
#msform .action-button {
    background: #349f1a;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 100px;
    cursor: pointer;
    padding: 10px 35px;
    margin: 10px 0px 10px 5px;
    float: right;
    border: 1px solid #349f1a;
}
#msform .action-button:hover, 
#msform .action-button:focus {background-color: #349f1a;}

/*Previous Buttons*/
#msform .action-button-previous {
    background: transparent;
    font-weight: bold;
    color: #349f1a;
	border: 1px solid #349f1a;
    border-radius: 100px;
    cursor: pointer;
    padding: 10px 35px;
    margin: 10px 5px 10px 0px;
    float: left;
}
#msform .action-button-previous:hover, 
#msform .action-button-previous:focus {
    background-color: #349f1a;
	color: #ffffff;
}

/*FieldSet headings*/
#msform .fs-title {
    font-size: 25px;
    color: #170F49;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: left;
    font-size: 24px;
    line-height: 35px;
}
#msform p{
	font-size: 18px;
	color: #170F49;
}

/*Icon progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    border-bottom: 1px solid #e3e4e5;
    padding-bottom: 30px;
}
#progressbar .active {color: #349f1a;}
#progressbar li span{
    color: #6F6C90;
    background: #eff0f6;
    padding: 1rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 1;
    font-size: 16px;
    font-weight: bold;
}
#progressbar .active span {
    color: #ffffff;
    background-color: #349F1A;
}
#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}
/*ProgressBar connectors*/
#progressbar li::before{
    content: '';
    width: 100%;
    height: 6px;
    background: #eff0f6;
    position: absolute;
    right: 0;
    top: 25px;
    z-index: -1;
}
#progressbar li:nth-child(1)::before{
    width: 50%;
    right: 0;
}
#progressbar li:nth-child(4)::before{
    width: 50%;
    left: 0;
}
/*ProgressBar connectors*/
#progressbar li::after {
    content: '';
    width: 50%;
    height: 6px;
    position: absolute;
    right: 0px;
    top: 25px;
    z-index: -1;
}
#progressbar li:nth-child(2).active::after{
	width: 100%;
	left: 0;
}
#progressbar li:nth-child(3).active::after{
	left: 0;
    width: 100%;
}
#progressbar li:nth-child(4).active::after{
	left: 0;
}
#progressbar li.active:after {
    background: #349F1A;
    color: #ffffff;
}

/*Fit image in bootstrap div*/
.fit-image{
    width: 100%;
    object-fit: cover;
}

.company_services {
    border: 1px solid #349F1A;
    box-sizing: border-box;
    box-shadow: 0px 2px 11px rgb(69 65 164 / 6%), 0px 4px 10px rgb(31 37 89 / 7%);
    border-radius: 8px;
    padding: 10px 4px;
    position: relative;
    margin: 0px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 7px;
}
  .company_register_pay_now_disable{
    pointer-events: none;
    cursor: default;
  }


  .company_register_pay_now_enabled{
    pointer-events: all;
    cursor: default;
  }


  .white{
      color: white;
  }

  .green{
    color: #4b9f1d;
  }

  .choose_plan_background_green{
   background: #479041;
  }

  .choose_plan_background_transparent{
    background:transparent;
   }

   .bg-login{
    background-image: url('/talends/assets/img/auth-bg.png');
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
@media(max-width: 600px){
    #msform .action-button,
    #msform .action-button-previous{
        padding:10px 25px;
    }
    .plans-wrap {
        padding: 0.75rem 0.75rem;
    }
    .price-feature > li{
        font-size: 11px;
    }
}